@use '../../scss/' as *;

.app-frame-list {
	@include flex(center, space-around);
	flex-direction: column;
	position: fixed;
	height: 100%;
	list-style-type: none;
	overflow: hidden;
	background: #1d1d1d80;
	z-index: 1;
	transition: visibility 0.3s linear, opacity 0.3s linear;

	.app-frame-item {
		cursor: pointer;
	}
}
