@use '../../scss/' as *;

.search-form {
	@include flex(center, center);
	height: 100%;
	width: 100%;
	display: block;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.9);
	transition: all 0.5s linear;

  .search-input{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}
.search-icon {
	z-index: 1;
}
